.Folder-list-container{
    width: 80%;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    background-color: white;
}

.courses-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.Folder-container:hover{
    cursor: pointer;
}

.Folder-list-header{
    background-color: #e8e8e8;
    padding: 7px;
}