.Folder-list-container{
    max-width: max-content;
    min-width: 400px;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
}

.courses-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.Folder-container:hover{
    cursor: pointer;
}

.Folder-container{

}
.Folder-list-header{
    background-color: aquamarine;
}