.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.touchable-opacity:hover{
    cursor: pointer;
}
.notifications-container{
    margin:10px auto;
    /* width: max-content; */
    /* float: ri; */
}