.Univerity-list{
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.UniversityCard-container{
    max-width: max-content;
}

.university-detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}